{% extends 'hod_template/base_template.html' %}
{% block page_title %}
Staff Apply For Leave
{% endblock page_title %}
{% block main_content %}

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                      <div class="card-header">
                        <h3 class="card-title">Staff Apply For Leave</h3>
                      </div>
                      <div class="table">
                          <table class="table">

                            <tr>
                                <th>ID</th>
                                <th>Staff ID</th>
                                <th>Staff Name</th>
                                <th>Leave Date</th>
                                <th>Leave Message</th>
                                <th>Apply on</th>
                                <th>Action</th>
                            </tr>
                            {% for leave in leaves %}

                            <tr>
                                <td>{{ leave.id }}</td>
                                <td>{{ leave.staff_id.admin.id }}</td>
                                <td>{{ leave.staff_id.admin.first_name }} {{ leave.staff_id.admin.last_name }}</td>
                               
                                <td>{{ leave.leave_date }}</td>
                                <td>{{ leave.leave_meassage }}</td>
                                <td>{{ leave.created_at }}</td>
                                <td>
                                    {% if leave.leave_status == 0 %}
                                      <a class="btn btn-success " href="{% url 'staff_approve_leave' leave_id=leave.id %}" > Approve</a>
                                      <a class="btn btn-danger " href="{% url 'staff_disapprove_leave' leave_id=leave.id %}"> Reject</a>
                                    {% elif leave.leave_status == 1 %}
                                      <a  class="btn btn-success btn-md disabled" aria-disabled="true"> Approved</a>
                                      <a href="{% url 'staff_disapprove_leave' leave_id=leave.id %}" class="btn btn-danger " > Reject</a>
                                    {% else %}
                                      <a class="btn btn-success " href="{% url 'staff_approve_leave' leave_id=leave.id %}" > Approve</a>
                                      <a class="btn btn-warning btn-md disabled" aria-disabled="true"> Rejected</a>
                                   {% endif %}
                                </td>
                            </tr>

                            {% endfor %}

                          </table>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock main_content %}

