{% extends 'hod_template/base_template.html' %}

{% block page_title %}
Student Apply For Leave
{% endblock page_title %}
{% block main_content %}

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                      <div class="card-header">
                        <h3 class="card-title">Student Apply For Leave</h3>
                      </div>
                      <div class="table">
                          <table class="table">

                            <tr>
                                <th>ID</th>
                                <th>Student ID</th>
                                <th>Student Name</th>
                                <th>Leave Date</th>
                                <th>Leave Message</th>
                                <th>Apply on</th>
                                <th>Action</th>
                            </tr>
                            {% for leave in leaves %}

                            <tr>
                                <td>{{ leave.id }}</td>
                                <td>{{ leave.student_id.admin.id }}</td>
                                <td>{{ leave.student_id.admin.first_name }} {{ leave.student_id.admin.last_name }}</td>
                               
                                <td>{{ leave.leave_date }}</td>
                                <td>{{ leave.leave_meassage }}</td>
                                <td>{{ leave.created_at }}</td>
                                <td>
                                   
                                
                                    <!-- <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                       Approve/Reject
                                      </button>
                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item " href="{% url 'student_approve_leave' leave_id=leave.id %}" >Approve</a>
                                       <a class="dropdown-item " href="{% url 'student_disapprove_leave' leave_id=leave.id %}">Reject</a>
                                     </div> -->
                                    
                                     {% if leave.leave_status == 0 %}
                                     <a class="btn btn-success " href="{% url 'student_approve_leave' leave_id=leave.id %}" > Approve</a>
                                      <a class="btn btn-danger " href="{% url 'student_disapprove_leave' leave_id=leave.id %}"> Reject</a>
                                    {% elif leave.leave_status == 1 %}
                                    <a  class="btn btn-success btn-md disabled" aria-disabled="true"> Approved</a>
                                    <a href="{% url 'student_disapprove_leave' leave_id=leave.id %}" class="btn btn-danger " > Reject</a>
                                    {% else %}
                                    <a class="btn btn-success " href="{% url 'student_approve_leave' leave_id=leave.id %}" > Approve</a>
                                    <a class="btn btn-warning btn-md disabled" aria-disabled="true"> Rejected</a>
                                 {% endif %}
                              </td>
                            </tr>
                            <!-- <label for="cars">Choose a car:</label>

                            <select name="cars" id="cars">
                              <option value="volvo">Volvo</option>
                              <option value="saab">Saab</option>
                              <option value="mercedes">Mercedes</option>
                              <option value="audi">Audi</option>
                            </select>  -->
                            <!-- <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Dropdown button
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  <a class="dropdown-item" href="#">Action</a>
                                  <a class="dropdown-item" href="#">Another action</a>
                                  <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                              </div> -->

                            {% endfor %}

                          </table>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

    {% endblock main_content %}



    